* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #e7e7e7, #16d6e0);
    min-height: 100vh;
}

/* HOME PAGE */
.home-container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50vh;
    gap: 10px;
    flex-wrap: wrap;
    
}

.home-container button {
    background: #439ab3;  
    color: white;
    border: none;
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.home-container button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

/* SURPRISE PAGE */
.surprise-container {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.birthday-text {
    color: white;
    font-size: 40px;
    animation: pulse 1.5s infinite;
    text-align: center;
    margin-bottom: 50px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* SLIDER */
.slider {
    width: 80%;
    margin: 50px auto;
    position: relative;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 20px;
}

.slide.active {
    display: block;
}

/* MEMORY GRID */
.memory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    
}

.card p {
    padding: 15px;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .birthday-text {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .home-container button {
        width: 100%;
    }
}
